automation/2721-jarvis/workflow.json
{
  "id": "ZYa82rr8OY3Ud0p8",
  "meta": {
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39"
  },
  "name": "JARVIS",
  "tags": [],
  "nodes": [
    {
      "id": "d7d1e3e7-1171-4e0a-b02b-c5d405ebd09f",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        380,
        480
      ],
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions."
      },
      "typeVersion": 2
    },
    {
      "id": "9298798f-46e6-46b8-8c3e-6c6e02a2eea1",
      "name": "Contact Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        660,
        480
      ],
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact related actions."
      },
      "typeVersion": 2
    },
    {
      "id": "3b39ea2a-7c02-481e-9a52-c7a7c6a7afe2",
      "name": "Content Creator Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        800,
        480
      ],
      "parameters": {
        "name": "contentCreator",
        "description": "Call this tool to create blog posts."
      },
      "typeVersion": 2
    },
    {
      "id": "fefda7ea-e118-4dbf-9bc4-0f88b1e9c63e",
      "name": "Tavily",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        840,
        160
      ],
      "parameters": {
        "url": "https://api.tavily.com/search",
        "method": "POST",
        "jsonBody": "{\n    \"api_key\": \"YOUR-API-KEY\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "sendBody": true,
        "specifyBody": "json",
        "toolDescription": "Use this tool to search the internet",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "type": "string",
              "description": "What the user has requested to search the internet for"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "07aea172-3154-4d5e-af17-ae3a0e1025ff",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        980,
        160
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "9581a09a-be74-4db1-acae-3ea90c1c2063",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        520,
        480
      ],
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action."
      },
      "typeVersion": 2
    },
    {
      "id": "82ee1170-ea93-40bc-a3ed-0a0588a78c95",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        -60
      ],
      "webhookId": "dced53d2-e10e-4357-9d22-4f8db19efa7c",
      "parameters": {
        "path": "n8n",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "7802b29b-6389-40ed-baaf-524f3aec3cb5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        860,
        -60
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "f0ea154b-48c7-438b-b8ea-35d94ba3ec54",
      "name": "Jarvis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        460,
        -60
      ],
      "parameters": {
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- contentCreator: Use this tool to create blog posts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "70e47629-a51a-4c1e-905a-2a4f47fdd210",
      "name": "4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        240,
        160
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "10e6db58-6642-45dd-8777-4664fdfb01a2",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        380,
        160
      ],
      "parameters": {
        "sessionKey": "={{ $('Webhook').item.json.headers.host }}",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "749e4562-c536-48fe-82d0-ddf3a5905ae7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -180
      ],
      "parameters": {
        "color": 4,
        "width": 380,
        "height": 260,
        "content": "# JARVIS Main Agent\n"
      },
      "typeVersion": 1
    },
    {
      "id": "1fbf5505-3fed-403c-a3ba-5c53b5620a1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        -360
      ],
      "parameters": {
        "color": 5,
        "width": 500,
        "height": 100,
        "content": "# Nate Herk | AI Automation"
      },
      "typeVersion": 1
    },
    {
      "id": "05315716-5f82-4297-91ac-02f89a445487",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        380
      ],
      "parameters": {
        "color": 4,
        "width": 640,
        "height": 260,
        "content": "# Child Agents"
      },
      "typeVersion": 1
    },
    {
      "id": "2e0dcfde-c5c1-40c2-b795-f5dfb7c1f7b4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        980,
        380
      ],
      "parameters": {
        "width": 280,
        "height": 140,
        "content": "# IMPORTANT\nMake sure to map the correct workflows in these child agents"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52f85783-1397-4068-bd3d-d10f349d4138",
  "connections": {
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "Jarvis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Jarvis": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Jarvis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Jarvis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Content Creator Agent": {
      "ai_tool": [
        [
          {
            "node": "Jarvis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}