automation/2727-storyagent1json/workflow.json
{
  "id": "i8N8z94mI46caovf",
  "meta": {
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCredsSetupCompleted": true
  },
  "name": "Story Agent #1",
  "tags": [],
  "nodes": [
    {
      "id": "f2ac0cb5-5c74-47ba-a896-fdffdd3feb3e",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {
        "inputSource": "passthrough"
      },
      "typeVersion": 1.1
    },
    {
      "id": "0e21144c-de2d-4691-9a5c-fa695fa3c304",
      "name": "Child Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        220,
        0
      ],
      "parameters": {
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert story writer. You will recieve details, and your job is to write an exciting story using those details.\n\n## Rules\n- Don't output any questions, use your mind to create a story even if the details are vague.\n- Always output a story that should be roughly 1-2 paragraphs."
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "387bd0c8-80d9-4413-a683-701dad6e86f0",
      "name": "Flash 2.0",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        140,
        220
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "DW8owDXDeMHnr1rA",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "933fe77c-ae41-4b40-9c7a-c838d84e24e8",
  "connections": {
    "Flash 2.0": {
      "ai_languageModel": [
        [
          {
            "node": "Child Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Child Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}