automation/2738-researchagentdemojson/workflow.json
{
  "id": "QcAFSBjor3ReuR3z",
  "meta": {
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCredsSetupCompleted": true
  },
  "name": "Research Agent Demo",
  "tags": [],
  "nodes": [
    {
      "id": "271f3f96-6478-4c51-b0ee-1c8e2448625c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        620,
        320
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "61b4ab8b-dfd7-4abd-864c-036bcb702583",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        720,
        540
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "187cb7c9-7c88-417b-bd71-9d2e029c3b1e",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        840,
        540
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "c740926f-cb37-49ef-b27e-8a585e948bb0",
      "name": "Hacker News",
      "type": "n8n-nodes-base.hackerNewsTool",
      "position": [
        960,
        540
      ],
      "parameters": {
        "limit": "={{ $fromAI(\"limit\")}}",
        "resource": "all",
        "additionalFields": {
          "keyword": "={{ $fromAI(\"keyword\") }}"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "52ef62ef-d208-448f-8886-6586dd3ba321",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        1080,
        540
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "serpApi": {
          "id": "ucz9rt7Sjxe0PV6H",
          "name": "SerpAPI account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3adf6abc-8bd1-4d70-85be-374376f16ba2",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1220,
        320
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c827ff3b-2990-4db5-965e-3f3543113720",
              "name": "response",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "7b9889cf-a0ea-4b02-ab83-a30f40e6d775",
      "name": "Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        840,
        320
      ],
      "parameters": {
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a research assistant agent. You have Wikipedia, Hacker News API, and Serp API at your disposal. \n\nTo answer the user's question, first search wikipedia. If you can't find your answer there, then search articles using Hacker News API. If that doesn't work either, then use Serp API to answer the user's question.\n\n*REMINDER*\nYou should only be calling one tool. Never call all three tools if you can get an answer with just one: Wikipedia, Hacker News API, and Serp API"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    }
  ],
  "active": false,
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "can you get me 3 articles about the election"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93b01d79-4aa6-4ee0-923a-f28c6d607fc5",
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}