automation/2709-summarizedatabasejson/workflow.json
{
  "id": "4BfamBqximmZ86qM",
  "meta": {
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCredsSetupCompleted": true
  },
  "name": "\u2699\ufe0fSummarize Database",
  "tags": [],
  "nodes": [
    {
      "id": "4a43850d-dad8-472b-bef5-a9e0a1cc9ff6",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        480,
        340
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "35511216-bd52-4610-a8d2-52718da9cda5",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        660,
        340
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17rTnGg9telKLqqWrNlyzngatwyVYUwn9eXkQLBtJ-Ys/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "17rTnGg9telKLqqWrNlyzngatwyVYUwn9eXkQLBtJ-Ys",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17rTnGg9telKLqqWrNlyzngatwyVYUwn9eXkQLBtJ-Ys/edit?usp=drivesdk",
          "cachedResultName": "Projects"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aPQtIe3eSZO3y19h",
          "name": "Google Sheets account 3"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "9103264f-bafd-441e-8b00-c3ef7363aae5",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        860,
        340
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "GPT-4O"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Please summarize each project in the database based on their details:\n\nProject Name:{{ $json.Project }}\nNotes: {{ $json.Notes }}\nStatus: {{ $json.Status }}"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "bEw2RFKI3MP4M94t",
          "name": "OpenAi account 3"
        }
      },
      "typeVersion": 1.5
    },
    {
      "id": "e80b9f7c-733b-4951-b77f-275386226bf7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1220,
        340
      ],
      "parameters": {
        "options": {},
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message.content"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "35d929f7-0ba7-492b-8fab-b1e6e1366ad6",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1420,
        340
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "a25b6c21-6b13-447a-af5d-7ff2537efbe9",
              "name": "response",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "active": false,
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": "Summarize the projects in the database"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb9eb76a-0456-42ad-96bc-ab2fc23ed470",
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}