automation/2789-vectordatabaseoptimizationdemo/workflow.json
{
  "id": "a0cBaHjph0BhwW3E",
  "meta": {
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCredsSetupCompleted": true
  },
  "name": "Vector Database Optimization Demo",
  "tags": [],
  "nodes": [
    {
      "id": "f5658122-3061-4d4d-ad22-b2ae82244b18",
      "name": "When clicking \u2018Test workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        540,
        3120
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "5c273219-c9b2-4355-b340-ca1ca725ce5b",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1300,
        540
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "8300e187-8049-41f7-8658-8815dde0fe91",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1500,
        720
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "9be187a8-c069-4e8d-816e-fa7d4bbf0f0d",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        940,
        320
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "dad728ad-020c-4ca2-8775-197bc036b516",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1160,
        320
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "a8665122-e7f1-4a64-acdd-0e29f35d6146",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        500
      ],
      "parameters": {
        "height": 98.35919306674813,
        "content": "## All Content with Metadata\n"
      },
      "typeVersion": 1
    },
    {
      "id": "62ccb091-2739-41b2-b738-939f07918277",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1340,
        -140
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "0bdb08f5-71e7-4bd1-8fc7-f7305d9d329f",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1600,
        40
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "1251523b-b675-4d85-b603-f8f5b20cbdd9",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        980,
        -360
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "52a70628-06ab-418b-a047-9a7c96d30f0d",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1200,
        -360
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "28214e88-2e16-4070-840a-443377f56a59",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        -180
      ],
      "parameters": {
        "height": 97.0541951997206,
        "content": "## All Content no Metadata\n"
      },
      "typeVersion": 1
    },
    {
      "id": "1c2b98ef-5455-4de5-94de-efe33b3e9a48",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1500,
        540
      ],
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "DocumentID",
                "value": "={{ $('Extract from File').item.json.info.Title }}"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9a1d88bd-fe88-4e83-86b8-034dff1597fe",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1500,
        1220
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "cb60fb7e-8c81-41dd-97b8-ad378970ebc2",
      "name": "Recursive Character Text Splitter2",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1700,
        1400
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "aaaaa2b8-d2d6-40e1-85fb-03441cde2d49",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        920,
        1000
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "ba32afef-ead1-4095-86fd-51b62a524bb4",
      "name": "Extract from File2",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1140,
        1000
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "faa9919a-59e5-454b-9471-abe4fdc50664",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1180
      ],
      "parameters": {
        "height": 89.18596959968566,
        "content": "## The Right Text with Metadata\n"
      },
      "typeVersion": 1
    },
    {
      "id": "f0405c9a-698c-467e-98c6-897be34ce8c1",
      "name": "Pinecone Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1600,
        1000
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ad119fc1-c0d6-4419-9ebd-07dceaf22154",
      "name": "Default Data Loader2",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1700,
        1220
      ],
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "DocumentID",
                "value": "={{ $('Extract from File2').item.json.info.Title }}"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "4086dcf4-a85d-47f7-a073-7b9dab7acbcc",
      "name": "Get Content",
      "type": "n8n-nodes-base.set",
      "position": [
        1360,
        1000
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "901a0855-4a5a-431b-a0bb-00da369ec3c8",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "3cc5e2eb-4d24-4915-bfd8-d95346d69381",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1440,
        1920
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "1899617a-5c5e-4178-86e2-2129f9d45f48",
      "name": "Google Drive3",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        860,
        1700
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "28d4b452-d4f6-4e01-8533-d81ce4a51542",
      "name": "Extract from File3",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1080,
        1700
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "55b76448-15d3-443c-8878-cd89487c39f6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        1880
      ],
      "parameters": {
        "height": 80,
        "content": "## Token Splitter (5)"
      },
      "typeVersion": 1
    },
    {
      "id": "641ae66e-06db-461d-a1c9-d7aded343c44",
      "name": "Pinecone Vector Store3",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1540,
        1700
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "409bf32d-03d6-4d78-8829-f6a814e63336",
      "name": "Default Data Loader3",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1640,
        1920
      ],
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "DocumentID",
                "value": "={{ $('Extract from File3').item.json.info.Title }}"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "882e7991-b99f-40d8-b478-ff2e520e54f4",
      "name": "Get Content1",
      "type": "n8n-nodes-base.set",
      "position": [
        1300,
        1700
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "901a0855-4a5a-431b-a0bb-00da369ec3c8",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "f776cfd1-bbb4-4cfe-8bcf-0fc7bf0f3db6",
      "name": "Token Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "position": [
        1640,
        2140
      ],
      "parameters": {
        "chunkSize": 5
      },
      "typeVersion": 1
    },
    {
      "id": "7812508c-5af5-456a-8227-29baf1baafb3",
      "name": "Embeddings OpenAI4",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1440,
        2680
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "7a29ce5a-8f53-46b0-896d-b4944afdf638",
      "name": "Google Drive4",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        860,
        2460
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "9e81a9af-fbcb-4a06-a439-1ac0d18886ac",
      "name": "Extract from File4",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1080,
        2460
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "826d2e2a-b1ed-47bd-ae32-a90a79c4e362",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        2640
      ],
      "parameters": {
        "height": 90.49734053302484,
        "content": "## Character Text Splitter (.)"
      },
      "typeVersion": 1
    },
    {
      "id": "adc50d3a-7760-463d-bb5a-5cc44a1db196",
      "name": "Default Data Loader4",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1640,
        2680
      ],
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "DocumentID",
                "value": "={{ $('Extract from File4').item.json.info.Title }}"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "58b6c362-fd87-44f8-b531-64816eea9cfe",
      "name": "Get Content2",
      "type": "n8n-nodes-base.set",
      "position": [
        1300,
        2460
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "901a0855-4a5a-431b-a0bb-00da369ec3c8",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "9064e7ab-4808-415b-a5d9-72e679cdd24f",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "position": [
        1640,
        2900
      ],
      "parameters": {
        "chunkSize": 50,
        "separator": ". "
      },
      "typeVersion": 1
    },
    {
      "id": "2bee3c71-9079-4ce4-a4f0-b4de245c8ab3",
      "name": "Embeddings OpenAI5",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1400,
        3320
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "75dbfa5b-d333-497c-8834-28c6feb3da0f",
      "name": "Recursive Character Text Splitter3",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        1600,
        3500
      ],
      "parameters": {
        "options": {},
        "chunkSize": 60,
        "chunkOverlap": 20
      },
      "typeVersion": 1
    },
    {
      "id": "0a2a7564-f42f-4257-8b73-2c363b12ce8a",
      "name": "Google Drive5",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        820,
        3100
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "80f4fbdd-02f9-4aab-960b-eb494d1379c1",
      "name": "Extract from File5",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1040,
        3100
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "824e58bf-e3e7-4492-a948-81791e3d9901",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        3280
      ],
      "parameters": {
        "height": 80,
        "content": "## Chunk Overlap\n"
      },
      "typeVersion": 1
    },
    {
      "id": "f6fc2e49-ee67-477a-89e9-039c136f7884",
      "name": "Pinecone Vector Store5",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1500,
        3100
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8c1671e5-2ac9-4a47-b296-d51770f5ce0a",
      "name": "Default Data Loader5",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1600,
        3320
      ],
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "DocumentID",
                "value": "={{ $('Extract from File5').item.json.info.Title }}"
              }
            ]
          }
        }
      },
      "typeVersion": 1
    },
    {
      "id": "33af654e-41bc-49da-b7d1-6fb3d4ebecb8",
      "name": "Get Content3",
      "type": "n8n-nodes-base.set",
      "position": [
        1260,
        3100
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "901a0855-4a5a-431b-a0bb-00da369ec3c8",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "3ca81877-7632-45d2-a687-5ba83ac505ef",
      "name": "Pinecone Vector Store4",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1540,
        2460
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "487ee783-4402-4137-beee-89d871d3140c",
      "name": "Embeddings OpenAI6",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1520,
        4020
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "5eadd328-8147-46f4-9a72-0b2fce810999",
      "name": "Google Drive6",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        880,
        3800
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1sxV7e4FZ3rRAjHCskWiHK4ysprmho49SjPUs9PJX0Ug",
          "cachedResultUrl": "https://docs.google.com/document/d/1sxV7e4FZ3rRAjHCskWiHK4ysprmho49SjPUs9PJX0Ug/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 123456"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "3d1c86d8-ca32-4007-bcd0-78087571af05",
      "name": "Extract from File6",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1100,
        3800
      ],
      "parameters": {
        "options": {},
        "operation": "pdf"
      },
      "typeVersion": 1
    },
    {
      "id": "75bcdd71-fab1-48a4-8ba5-8f2dd9115ecb",
      "name": "Get Content4",
      "type": "n8n-nodes-base.set",
      "position": [
        1320,
        3800
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "901a0855-4a5a-431b-a0bb-00da369ec3c8",
              "name": "content",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "5995c6f8-901e-4b93-8bb2-a1362529a7f2",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        4000
      ],
      "parameters": {
        "height": 129.83846853319946,
        "content": "## Update Documents"
      },
      "typeVersion": 1
    },
    {
      "id": "8009162f-bb23-4ad9-bae0-db42bbfc94f4",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1400,
        320
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "a946f7ca-14f0-4a09-90c2-35c3365490e6",
      "name": "Embeddings OpenAI7",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        2540,
        -140
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "d804e18a-adb5-47ba-b39f-638832e4871d",
      "name": "Recursive Character Text Splitter4",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        2740,
        40
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "ac03c4ac-7527-4efb-9132-df72da41b4dd",
      "name": "Google Drive7",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2360,
        -360
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "f5cacd14-abc9-43f1-9f15-45bbb61ec0b6",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2140,
        -180
      ],
      "parameters": {
        "height": 94.42508026673069,
        "content": "## All Content no Metadata (Binary)\n"
      },
      "typeVersion": 1
    },
    {
      "id": "d0ff6632-f556-4f87-b8af-1f8441b6d653",
      "name": "Pinecone Vector Store7",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        2640,
        -360
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3e9d7b17-11c2-469b-8e82-8db6bd267448",
      "name": "JSON",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        1540,
        -140
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "6f6acdac-1200-4242-b4d2-e384961b4f8d",
      "name": "Binary",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        2740,
        -140
      ],
      "parameters": {
        "options": {},
        "dataType": "binary"
      },
      "typeVersion": 1
    },
    {
      "id": "e897e4ea-bae9-4c13-b9df-a7e6a70730c2",
      "name": "Embeddings OpenAI8",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        3660,
        -140
      ],
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "63c31bc5-3802-4ec3-8c3b-ad6904eb2ad3",
      "name": "Recursive Character Text Splitter5",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        3860,
        40
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "5bf70649-692b-4213-a71b-756ce2730224",
      "name": "Google Drive8",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3480,
        -360
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4",
          "cachedResultUrl": "https://docs.google.com/document/d/1dMsMt4n0qoy4OlT0Jqq4_gQDHVTWhCXj2nI1GDrXnx4/edit?usp=drivesdk",
          "cachedResultName": "Document ID: 12345"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        },
        "operation": "download"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "60zdCK3Sx2Shlbb4",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "1a390018-492b-4872-81e2-0d4bbfff9498",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3260,
        -180
      ],
      "parameters": {
        "height": 80,
        "content": "## Wrong Embedding\n"
      },
      "typeVersion": 1
    },
    {
      "id": "cff7d55a-6184-458c-aeec-0f5fff3e3da1",
      "name": "Binary1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        3860,
        -140
      ],
      "parameters": {
        "options": {},
        "dataType": "binary"
      },
      "typeVersion": 1
    },
    {
      "id": "52bb8bb0-04dc-43b1-86d1-6407efb5509b",
      "name": "Pinecone Vector Store8",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        3760,
        -360
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "4b79d8c8-0663-4564-b0ee-55cd9e3385f4",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1440,
        -360
      ],
      "parameters": {
        "mode": "insert",
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c07d57c8-e648-440e-8dc4-916b305e4815",
      "name": "Pinecone Vector Store6",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1520,
        3800
      ],
      "parameters": {
        "id": "6a9b6342-7da2-4af6-bd7f-3eaba88e3f13",
        "mode": "update",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "kRQGVexSgzWhzJz2",
          "name": "PineconeApi account 4"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f956283f-8470-4872-a554-90a3ad2ae218",
  "connections": {
    "JSON": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Binary": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store7",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Binary1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store8",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content2": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content3": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content4": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive6": {
      "main": [
        [
          {
            "node": "Extract from File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive7": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive8": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI5": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI6": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store6",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI7": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store7",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI8": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store8",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Get Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Get Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Get Content3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File6": {
      "main": [
        [
          {
            "node": "Get Content4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader4": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store4",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader5": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store5",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader4",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "JSON",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader5",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter4": {
      "ai_textSplitter": [
        [
          {
            "node": "Binary",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter5": {
      "ai_textSplitter": [
        [
          {
            "node": "Binary1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  }
}