automation/2766-personalassistantaiagent20json/workflow.json
{
  "id": "Pl2t5OJV0q7tNqZm",
  "meta": {
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCredsSetupCompleted": true
  },
  "name": "\ud83e\udd16Personal Assistant AI Agent 2.0",
  "tags": [],
  "nodes": [
    {
      "id": "5e059401-f60e-4154-ab3b-e40abe3871b9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        820,
        540
      ],
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "51381e86-6603-47ce-ae74-19bd9e223ac8",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slackTool",
      "position": [
        1080,
        540
      ],
      "parameters": {
        "text": "={{ $fromAI(\"message\",\"the message the user wants to send in Slack\") }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C07U1V6UH3Q",
          "cachedResultName": "youtubetesting"
        },
        "otherOptions": {
          "includeLinkToWorkflow": false
        },
        "authentication": "oAuth2"
      },
      "credentials": {
        "slackOAuth2Api": {
          "id": "a6CSAL61GmGgobR7",
          "name": "Slack account"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "da87284c-0139-4097-9168-ba80a11b3ca6",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        1740,
        700
      ],
      "parameters": {
        "options": {
          "pineconeNamespace": "demo"
        },
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "sample",
          "cachedResultName": "sample"
        }
      },
      "credentials": {
        "pineconeApi": {
          "id": "Y99P8vXzGIBbMRfy",
          "name": "PineconeApi account 3"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "d39041e2-7d44-4be7-8edd-32024e0a960b",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2000,
        700
      ],
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9715c157-30db-436b-bee5-305db7dc37da",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1740,
        840
      ],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "PI7dqswJpx1Asynn",
          "name": "OpenAi account 2"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3805752c-dcf7-4419-a0e8-850305821e4d",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        1740,
        540
      ],
      "parameters": {
        "name": "Knowledge_Base",
        "description": "Call this tool to get information about the company."
      },
      "typeVersion": 1
    },
    {
      "id": "362d5daa-8d74-486e-a3fd-7a91b58e5c77",
      "name": "Contacts Data",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        960,
        540
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19MEAwqL6LOhB9VNXW8TSDTBd1U8s0L77uWHpIhRieEA/edit?usp=drivesdk",
          "cachedResultName": "Contact Database"
        },
        "descriptionType": "manual",
        "toolDescription": "Call this tool to get contact data like email address or phone number"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DKJyEjZyGh00GFMv",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "141a7335-bce3-44e5-823c-dd96b3e54300",
      "name": "\ud83e\udd16Calendar_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1340,
        540
      ],
      "parameters": {
        "name": "Calendar_Agent",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "0NtlJ41IozGhtFa6",
          "cachedResultName": "\ud83e\udd16Calendar Agent"
        },
        "description": "Call this tool to take actions within Calendar"
      },
      "typeVersion": 1.2
    },
    {
      "id": "290f7670-4338-4196-82a0-396771a748bc",
      "name": "\ud83e\udd16Research_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1480,
        540
      ],
      "parameters": {
        "name": "Research_Agent",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "Hgm5BTXAKjDnLOof",
          "cachedResultName": "\ud83e\udd16Research Agent"
        },
        "description": "Call this tool to search through Wikipedia, articles, or google to answer the user's question."
      },
      "typeVersion": 1.2
    },
    {
      "id": "bf134c3b-0615-46d2-9628-4b2670a10868",
      "name": "\ud83e\udd16Projects_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1620,
        540
      ],
      "parameters": {
        "name": "Projects_Agent",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3Hkxr6wonWWvR9jB",
          "cachedResultName": "\ud83e\udd16Projects Agent"
        },
        "description": "Call this tool to take action on our projects."
      },
      "typeVersion": 1.2
    },
    {
      "id": "ea873781-e5d6-4bcc-9e21-22869a383a55",
      "name": "\ud83e\udd16___Email_Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1200,
        540
      ],
      "parameters": {
        "name": "Email_Agent",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "C3hLlOS4O6ZJtVFy",
          "cachedResultName": "\ud83e\udd16Email Agent"
        },
        "description": "Call this tool to take any email actions"
      },
      "typeVersion": 1.2
    },
    {
      "id": "e5b3dcf6-abe2-45a5-915f-d32fc27318a4",
      "name": "Respond to Me",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1620,
        280
      ],
      "parameters": {
        "text": "={{ $json.output }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "9jQWan3cOz3tE62s",
          "name": "Telegram account 2"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c1ea0750-b6b3-42a9-9ac5-3de8f2f0754a",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        1140,
        280
      ],
      "webhookId": "2194a6b2-2302-4406-9c8c-207161b7eb22",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "9jQWan3cOz3tE62s",
          "name": "Telegram account 2"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "3fa666f3-89a5-4843-812d-76283fb8a4a0",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2000,
        540
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "31560ca4-0bb2-4b0b-b5f5-16389decf8a1",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1300,
        280
      ],
      "parameters": {
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal assistant AI Agent designed to handle various tasks efficiently. Your primary role is to manage contacts, emails, and calendar events for the user. You have access to three tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails.\n\nCalendar Agent: Use this for scheduling, updating, or managing calendar events.\n\nSend Slack Message: Use this to send a message in Slack.\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\n\nHere is the current time/date: {{ $now.format('DD')}}"
        },
        "promptType": "define"
      },
      "retryOnFail": false,
      "typeVersion": 1.6
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c6a4c56-09d8-4ae0-8ddc-ed4b0a08d005",
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts Data": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Personal Assistant": {
      "main": [
        [
          {
            "node": "Respond to Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Message": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16Calendar_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16Projects_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16Research_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\udd16___Email_Agent": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  }
}